/* --------------- general -------------- */

html, body {
	height: 100%;
}

h1 {
	font-size: 1.2em;
}

body {
	line-height: .6em;
	font-family: arial;
}

#map-canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.float-right {
	float: right;
}

/* -------------- search box -------------- */

.search-box {
	font-size: 1em;
	width: 100%;
	-webkit-appearance: none;
	height: 40px;
}

/* ------------- filter options --------------- */

.filter-container {
	max-width: 500px;
	margin: 0 auto;
}

.filter {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	margin: 5px;
}

.filter-item {
	margin: 0;
	padding: 0;
	font-size: 1em;
	border: 1px solid black;
	background-color: white;
	max-width: 120px;
	height: 25px;
	flex-grow: 1;
	-webkit-flex-grow: 1;
}

.filter-img {
	display: inline-block;
	width: 12px;
}

/* ------------------ list view ----------------- */

.list-container {
	width: 80%;
	max-width: 300px;
	height: 100%;
	position: absolute;
	z-index: 1;
	background-color: black;
	color: white;
	top: 0;
	left: -400px;
	transition: left 0.5s ease;
	padding: 10px;
}

.list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.list-item {
	font-size: 1.2em;
	line-height: 2em;
	background-color: white;
	color: black;
	border-top: 1px solid black;
	text-align: center;
	width: 97%;
	flex-grow: 1;
}

.show-locations {
	position: absolute;
	bottom: 12px;
	right: 9px;
	font-size: 50px;
	font-weight: bold;
	background-color: white;
	padding: 25px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid black;
}

.hide-locations {
	font-size: 1.5em;
	font-weight: 900;
}

/* --------------- info window content -------------- */

.info-window {
	max-height: 300px;
	overflow-y: auto;
}

/* ------------------ media queries -------------------- */

@media screen and (min-width: 320px) {
	.filter {
		flex-basis: 0;
	}
}

@media screen and (min-width: 750px) {
	.list-container {
		left: 0;
	}

	.show-locations,
	.hide-locations {
		display: none;
	}
}

@media screen and (orientation: landscape) {
	.info-window {
		max-height: 175px;
	}
}