@font-face{
	font-family: "Uni Sans";
	src: url("resources/Uni Sans Heavy.otf") format('opentype');
}

*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: sans-serif;
	background-color: black;
}

h1{
	color: white;
	font-family: "Uni Sans";
	letter-spacing: 3px;
	font-size: 3em;
}

p{
	color: white;
}

.color{
	color: #cc100c;
}

.wrapper{
	left: 50px;
}

.title_wrapper{
	z-index:-12;
	position: fixed;
	border-bottom: 10px solid white;
	border-top: 10px solid white;
	padding-top:20px;
	top: 0;
	left: 4%;
	top: 300px;
	opacity: 0;
	width: 100%;
}

.main_image{
	height:100%;
	position: absolute;
	right: 0;
	bottom: 0;
}

.back{
	z-index:-15;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	width:400px;
	height:400px;
	opacity: 0.5;
}

.ash{
	z-index:-10;
	display: none;
}

.snow{
	z-index: -5;
	left:100px;
}

.ball{
	z-index:-5;
	width:100px;
	height:100px;
	right: 4%;
	bottom: 5%;
}

#snow1{
	z-index:-20;
}

.pokemon{
	z-index:0;
	height:180px;
	width:180px;
	left:930px;
	top:400px;
	display: none;
	opacity:0;
}

.hint {
	position: absolute;
	left: 4%;
	bottom: 5%;
	color: white;
}

.ball:hover{
	transition: 0.1s;
	transition-timing-function: ease-in;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

@media screen and (min-width: 900px) {
	.ash {
		display: block;
	}
}
