*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: black;
}

h1{
	color: white;
	font-family: "Uni Sans";
	letter-spacing: 3px;
	font-size: 100px;
	line-height: 90px;
}

p{
	color: white;
}

.color{
	color: #cc100c;
}

.wrapper{
	left: 50px;
}

.title_wrapper{
	position: fixed;
	border-bottom: 10px solid white;
	border-top: 10px solid white;
	padding-top:20px;
	top:150px;
	z-index:-12;
	left: 100px;
	top: 300px;
	opacity: 0;
}

.main_image{
	height:100%;
	position: absolute;
}

.back{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	width:400px;
	height:400px;
	opacity: 0.5;
	z-index:-15;
}

.ash{
	z-index:-10;
	left:120px;
}

.snow{
	z-index: -5;
	left:100px;
}

.ball{
	width:100px;
	height:100px;
	left:1000px;
	top:510px;
	z-index:-5;
}

#snow1{
	z-index:-20;
}

.pokemon{
	height:180px;
	width:180px;
	left:930px;
	top:400px;
	z-index:0;
	display: none;
	opacity:0;
}

.ball:hover{
	transition: 0.1s;
	transition-timing-function: ease-in;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
